<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Game of Life: rules!</h1>
      <p class="lead">
        For a space that is 'populated':
      </p>
      <ul class="gol-ul">
        <li>Each cell with one or no neighbors dies, as if by solitude.</li>
        <li>Each cell with four or more neighbors dies, as if by overpopulation.</li>
        <li>Each cell with two or three neighbors survives.</li>
      </ul>
      <p class="lead">
        For a space that is 'empty' or 'unpopulated'
      </p>
      <ul class="gol-ul">
        <li>Each cell with three neighbors becomes populated.</li>
      </ul>
    <p class="lead">
      https://nl.wikipedia.org/wiki/Game_of_Life <br/>
      https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life
    </p>
    </div>
  </div>
</div>
